name: Release project

on:
  push:
    branches:
      - main

# Limit token permissions for security
permissions: read-all

jobs:
  release-package:
    # This job outputs env variables `previous_version` and `current_version`.
    # Only give permissions for this job.
    permissions:
      contents: write
    uses: ./.github/workflows/reusable-release-project.yml
    with:
      # Should be called UPDATE_VERSION_APP_ID and not ADD_TO_BOARD_APP_ID
      app-id: ${{ vars.ADD_TO_BOARD_APP_ID }}
    secrets:
      # Should be called UPDATE_VERSION_TOKEN and not ADD_TO_BOARD
      update-version-gh-token: ${{ secrets.ADD_TO_BOARD }}
